/********** Custom configuration **********/

$accent-color: #003594;

/** background color **/
$app-background-color: #f5f5f5;

/** Top form color **/
$header-background-color: #003594;
$header-text-color: #ffc629;

/** Form body color **/
$form-background-color: white;

/** Select button color **/
$select-button-color: #f5f5f5;

/** Submit button color **/
$form-submit-background-color: #003594;
$form-submit-border-color: #003594;
$form-submit-text-color: white;

$form-required-color: #E34850;
$form-error-color: #E34850;

/********** Bootstrap configuration **********/
$theme-colors: (
  "danger": #E34850,
);
