<div id="workflow_form" class="container">
  <div class="workflow_logo row">
    <div class="col-sm-3">
      <a href="#"><img src="https://www.csub.edu/powerforms/images/csub-logo.png" alt="CSU Bakersfield" alt="CSU Bakersfield" /></a>
    </div>
    <div class="col-sm-9 header_links">
      <ul>
        <li><a href="https://www.csub.edu/forms">Campus Forms Gateway</a></li>
        <li><a href="https://servicenow.csub.edu">Support</a></li>
      </ul>
    </div>
  </div>
  <div class="workflow_header row">
    <div class="col-md-12">
      <h1>{{heading}}: Unable to load form</h1>
    </div>
  </div>
  <div class="workflow_content">
    {{errorBody}}
  </div>
</div>
