<div class="form-group form-row">
    <div class="form-row">
        <div class="form-group col-12">
            <label  class="col-form-label" tabindex="0">
                {{UnitInfo.label}}
            </label>
            <div class="col">
                <select class="form-control" id="unit_select">
                <option>Select Unit</option>
                {{#each UnitInfo.Units}}
                    <option>{{this}}</option>
                {{/each}}
                </select>
            </div>
        </div>
        {{!-- <div class="corm-group col-12">
            <label class="col-form-label" tabindex="0">
               Fund
            </label>
           <input type="text" class="form-control" id="fund_input"/>
        </div> --}}
    </div>
  
</div>