<div class="form-group form-row">
  <label for="{{inputId}}" class="col-form-label {{#if required}}required{{/if}}" tabindex="0">
    {{label}}
  </label>
  <div class="col">
    <select id="{{inputId}}" class="form-control" {{#if required}} required {{/if}} {{#if readonly}} readonly {{/if}} {{#if defaultValue}} value="{{defaultValue}}"{{/if}}>
      {{#each DropDownVals}}
         <option>{{this}}</option>
      {{/each}}
    </select>
  </div>
</div>