<div class="workflow_content">
  {{body}}

  <h3>What would you like to do?</h3>
  <ul>
    <li><a href=".">Submit this form again</a>.</li>
    <li><a href="https://www.csub.edu/forms/">Submit a different form</a>.</li>
    <li><a href="https://csub.service-now.com/sp/">Report a technical issue</a>.</li>
  </ul>
</div>

