<div id="workflow_form" class="container">
  <div class="workflow_logo row">
    <div class="col-sm-3">
      <a href="#"><img src="https://www.csub.edu/powerforms/images/csub-logo.png" alt="CSU Bakersfield" /></a>
    </div>
    <div class="col-sm-9 header_links">
      <ul>
        <li><a href="https://www.csub.edu/forms">Campus Forms Gateway</a></li>
        <li><a href="https://servicenow.csub.edu">Support</a></li>
      </ul>
    </div>
  </div>
  <div class="workflow_header row">
    <div class="col-md-12">
      <h1>{{displayName}}</h1>
    </div>
  </div>
  <div class="workflow_content">
    <div id="form-errors"></div>
    
    <form enctype="multipart/form-data">
      <div id="instruction_section"></div>
      <div id="doa_filter_section"></div>
      <div class="alert alert-warning" role="alert">
        <b>NOTE!</b> Student emails are not available in the email lookup. Students can complete the form by typing their email address into the text box.  
      </div>
      <div id="recipient_section"></div>
      <div id="cc_section"></div>
      <div class="row">
        <div class="col-lg-8">
          <div id="agreement_section"></div>
          <div id="message_section"></div>
          <div id="upload_section"></div>
          <div id="merge_section"></div>
        </div>
        <div class="col-lg-4">
          <div class="compose-options" role="group" aria-labelledby="compose-options-heading">
            <h2 id="compose-options-heading">Options</h2>
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-custom" type="button" id="form_submit_button">Submit</button>
    </form>
  </div>
</div>
