@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 0.6}
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: $app-background-color;

  &.fadeIn {
    animation: fadeIn 1s;
    opacity: 0.6;
  }
}

.loader {
  position: fixed;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  left: 50%;
  top: 45%;
  z-index: 1050;
  text-align: center;

  > div {
    height: 100px;
    width: 300px;
    position: absolute;
    margin: -50px 0 0 -150px;
    left: 50%;
    top: 50%;
  }

  

  h3 {
    color: #797979;
  }

  svg {
    width: 68px;
    height: 68px;
    stroke: #fff;

    .loader-svg-bg {
      stroke-opacity:1;
    }
    .loader-svg-top {
      stroke: $accent-color;
    }
  }
}


.warning {
  position: absolute; /* or absolute */
  top: 35%;
  left: 40%;
  min-width: 500px;
  min-height: 300px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border:solid; 
  border-width: 1px; 
  border-radius: 5px;
  border-color: lightgray;
  background: white;
}

.modal-content {
  padding: 10px;
}

.modal-header {
  align-items: center;
  text-align: center;
  h5 {
    text-align: center;
  }
}

.modal-body{
  border:solid; 
  border-width: 1px;
  border-color: lightgray;
  border-left: none;
  border-right: none;
  padding: 25px;
}
